<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <h1>Current Label:</h1>
        <div id="label-container">
            <!-- <%- console.log(label) %> -->
        </div>
        
    </div>
    <% var lbl = label; %>

    <script defer>
        let labelData = <%= lbl  %>
        let container = document.getElementById('label-container');
        let newImg = document.createElement('img');
				newImg.src = URL.createObjectURL(labelData.blob);
				newImg.style['maxWidth'] = '400px';
        container.replaceChildren(newImg);
    </script>
</body>
</html>